<div class="container">
  <div class="section">
    <h2>Add a Ride</h2>

    <form [formGroup]="rideForm" (ngSubmit)="addRide()">

      <!-- Employee ID -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Employee ID</mat-label>
        <input matInput formControlName="empId" placeholder="Enter Employee ID">
        <mat-error *ngIf="rideForm.get('empId')?.hasError('pattern') && rideForm.get('empId')?.touched">
    Invalid employee Id  format (e.g., EMP1234)
  </mat-error>
        <mat-error *ngIf="hasErrorControl('empId','required')">
          Employee ID is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Vehicle Type</mat-label>
        <mat-select formControlName="vehicleType">
          <mat-option value="Bike">Bike</mat-option>
          <mat-option value="Car">Car</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Vehicle Number</mat-label>
        <input matInput formControlName="vehicleNo" placeholder="KA01AB1234">
        <mat-error *ngIf="hasErrorControl('vehicleNo','required')">
          Vehicle No is required
        </mat-error>
         <mat-error *ngIf="rideForm.get('vehicleNo')?.hasError('pattern') && rideForm.get('vehicleNo')?.touched">
    Invalid vehicle number format (e.g., KA01AB1234)
  </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Vacant Seats</mat-label>
        <input matInput type="number" formControlName="seats" placeholder="Enter seats">
        <mat-error *ngIf="hasErrorControl('seats','required')">
          Seats required
        </mat-error>
        <mat-error *ngIf="hasErrorControl('seats','min')">
          At least 1 seat
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="time">
        <mat-error *ngIf="hasErrorControl('time','required')">
          Time is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pick-up Point</mat-label>
        <input matInput formControlName="pickup" placeholder="Enter pick-up point" type="text">
        <mat-error *ngIf="hasErrorControl('pickup','required')">
          Pick-up is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Destination</mat-label>
        <input matInput formControlName="destination" placeholder="Enter destination" type="text">
        <mat-error *ngIf="hasErrorControl('destination','required')">
          Destination is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width">
        Submit
      </button>
    </form>
  </div>

  <div class="section">
    <h2>Available Rides</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Search by Vehicle Type</mat-label>
      <input matInput placeholder="Enter vehicle type..." [(ngModel)]="searchTerm">
    </mat-form-field>

    <div *ngFor="let ride of filteredRides; let i = index" class="ride">
      <p><b>Employee ID:</b> {{ ride.empId }}</p>
      <p><b>Vehicle Type:</b> {{ ride.vehicleType }}</p>
      <p><b>Time:</b> {{ ride.time }}</p>
      <p><b>Pick-up:</b> {{ ride.pickup }}</p>
      <p><b>Destination:</b> {{ ride.destination }}</p>
      <p><b>Vacant Seats:</b> {{ ride.seats }}</p>
      <button mat-raised-button color="accent" (click)="bookRide(i)">
        Book
      </button>
    </div>
  </div>
</div>